/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #e0dede;
  margin: 0;
  height: 100%;
  padding: 0;
}

h2 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li:hover {
  background: #f0f0f0;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}

/* Responsive styles code should be here */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

/* input box */

header {
  text-align: center;
}
.input{
  width: 100%;
  margin-bottom: 60px;
  padding: 5px 10px;
  
  display: flex;
  justify-content: center;
}

.container {
  max-width: 108.5vh;
  box-sizing: border-box;
}

ul {
  position: relative;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

ul li {
  width: 178px;
  height: 80px;  
  margin: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  transition: height 0.4s ease-in-out;
  overflow: hidden; 
}

ul li:hover {
  height: 240px;
}

ul li:hover .card-detail {
  opacity: 1;
  padding-top: 20px; 
  max-height: 150px; /* Expands smoothly */
}

.text {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

li .cim {
  position: relative;
}

.card-detail {
  opacity: 0; 
  max-height: 0; 
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.4s ease; /* Smooth expansion */
}

.horizon {
  transition: opacity 0.7s ease, max-height 0.4s ease;
}

ul li:hover .horizon{
  position: relative;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.card-detail .btn {
  display: flex;
  justify-content: center;
}

.delete-button, .edit-button {
  width: 60px;
  margin: 10px;
  margin-bottom: 10px;
}

input {
   width: 96%;
   padding: 10px;
}


@media (max-width: 768px) {
  .list li {
    flex: 1 1 calc(50% - 20px); /* 2 cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .list li {
    flex: 1 1 100%; /* 1 card per row on very small screens */
  }
}